body {
    background-color: green;
}

.rot {
    transform: rotate(-90deg);
}


.header{
    display: fixed;
    color: white;
    font-weight: bold;

    a {
        color: white;
    }

    &__black_bar{
        background-color: black;
        padding: 11px 17px;

        &__wp_logo{
            img {
                height: 55px;
            }
        }

        &__title{
            margin: 0 100px 0 20px;
        }

        &__responsive{
            list-style: none;
            display: inline-block;
            cursor: pointer;
            li {
                display: inline-block;
                margin: 5px;
                font-size: 1.5em;
                opacity: 0.6;
                

                &.active,
                &:hover {
                    opacity: 1;
                }
            }
        }

        &__shopping{
            float: right;
            margin: (55px - 34px) / 2;

            i {
                margin-right: 10px;
            }
        }
    }
}

