* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Pompiere', cursive;
}

.rot {
    transform: rotate(-90deg);
}

p {
    font-family: 'Lato', sans-serif;
}

.cd-nav-trigger {
    border: 1px solid #eee;
}


.header{
    display: fixed;
    color: white;
    font-weight: bold;

    a {
        color: white;
    }

    &__black_bar{
        background-color: black;
        padding: 11px 17px;

        &__wp_logo{
            img {
                height: 55px;
            }
        }

        &__title{
            margin: 0 100px 0 20px;
        }

        &__responsive{
            list-style: none;
            display: inline-block;
            cursor: pointer;
            li {
                display: inline-block;
                margin: 5px;
                font-size: 1.5em;
                opacity: 0.6;
                

                &.active,
                &:hover {
                    opacity: 1;
                }
            }
        }

        &__shopping{
            float: right;
            margin: (55px - 34px) / 2;

            i {
                margin-right: 10px;
            }
        }
    }
}

.logo-description  {
    z-index: 3;
    position: absolute;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-left: 20px;

    h1 {
        color: #88a704;
        margin-top: -70px;
        font-size: 30px;
        margin-bottom: 0;
    }

    & p {
        color: black;

    }

    & a:hover {
        text-decoration: none;
    }
}

.title-icon p {
    font-family: 'Pompiere', cursive;

}

.fourth-section {
    text-align: center;
}

.hexagono {
    height: 55px;
    background: red;
}
.hexagono:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid  red;
}
.hexagono:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid white;
}

.box-background2 {
    background-image: url("../../img/news-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.title h2 {
   text-align: center;
   color: black;
   font-size: 47px;
   margin-bottom: -15px;
}

.title2 h2 {
    color: white;
    text-align: center;
    font-size: 47px;
}

.title hr {
   border-top: 1px solid black;
   width: 72px;
   text-align: center;
}

.title2 hr {
   border-top: 1px solid white;
   width: 35px;
   margin-top: -5px;
   text-align: center;
}

.litle  {
    width: 30px !important;
    margin-top: -18px !important;
    text-align: center;
}

.litle2  {
    width: 15px !important;
    margin-top: -18px !important;
    text-align: center;
}

.white-text {
    color: white;
    padding-left: 10px;

}

.contact {
    text-align: center;
    text-decoration: none;
}

hr .contactos {
    margin-top: 8px;
}

ul {
    list-style:none;
}

.boton-verde {
    background: #9dc100;
    border: 1px solid #9dc100;
    color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
}

a {
    text-decoration: none;
    cursor: auto;
}

section {
    padding: 80px 0;
}
.third-section {
    background-color: #f4f4f4;
}

.box-background {
    background-image: url("../../img/devices.png");
    background-repeat: repeat-x;
    background-repeat: repeat-x;
}








